In [2]:
import os
os.chdir("D:\\All\\Panda")
os.listdir()

['crosstab.csv',
 'equal.png',
 'financial_detail.txt',
 'matplotlib.csv',
 'missing_values.csv',
 'new.csv',
 'new.xlsx',
 'panda.db',
 'pythonsqlite.db',
 'score.csv',
 'stocks_weather.xlsx',
 'stock_rates.csv',
 'stock_rates.xlsx',
 'vikas.db',
 'weather.csv',
 'weather_data.csv',
 'weather_data_1.csv',
 'weather_data_cities.csv',
 'weather_data_pivot _table.csv',
 'weather_data_pivot.csv']

In [4]:
#1st way to create DF importing csv file or other formats
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day temperature windspeed     event
0  1/1/2017        32 F     6 mph      Rain
1  1/2/2017      -99999     7 mph     Sunny
2  1/3/2017          28    -99999      Snow
3  1/4/2017      -99999         7  No Event
4  1/5/2017        32 C    -88888      Rain
5  1/6/2017          31         2     Sunny
6  1/6/2017          34         5  No Event

In [5]:
weather_Data = {
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}

In [7]:
df = pd.DataFrame(weather_Data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [8]:
weather_Data1 = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow'),
]
df = pd.DataFrame(weather_Data1,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [9]:
weather_Data2 = [
    {'day':'1/1/2017','temperature' : 32, 'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature' : 35, 'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}
]
df = pd.DataFrame(weather_Data2)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow